<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.10"?>
<plugin>
   <extension
         id="nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.exist.eclipse.xquery.core.XQueryNature"> </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.dltk.core.language">
      <language
            class="org.exist.eclipse.xquery.core.XQueryLanguageToolkit"
            nature="org.exist.eclipse.xquery.core.nature"
            priority="0">
      </language>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            describer="org.exist.eclipse.xquery.core.internal.XQueryContentDescriber"
            file-extensions="xquery,xq,xpath"
            id="org.exist.eclipse.xquery.core.content-type"
            name="XQuery Source File"
            priority="high">
      </content-type>
   </extension>     
   <extension
         point="org.eclipse.dltk.core.sourceParsers">
      <parserContribution
            natureId="org.exist.eclipse.xquery.core.nature">
         <parser
               class="org.exist.eclipse.xquery.core.internal.parser.XQuerySourceParserFactory"
               description="XQuery Source parse"
               id="org.eclipse.dltk.query.sourceParser"
               name="sourceParser.name"
               priority="0" />
      </parserContribution>
   </extension>
   <extension
         point="org.eclipse.dltk.core.sourceElementParsers">
      <parser
            class="org.exist.eclipse.xquery.core.internal.parser.XQuerySourceElementParser"
            nature="org.exist.eclipse.xquery.core.nature"
            priority="1">
      </parser>
   </extension>
</plugin>
