<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.dltk.ui.language">
      <language
            class="org.exist.eclipse.xquery.ui.internal.XQueryUILanguageToolkit"
            nature="org.exist.eclipse.xquery.core.nature"
            priority="0">
      </language>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.exist.eclipse.xquery.ui.internal.editor.XQueryEditor"
            default="true"
            icon="icons/existdb-icon.png"
            id="org.exist.eclipse.xquery.ui.editor.XQueryEditor"
            name="XQuery Editor">
         <contentTypeBinding
               contentTypeId="org.exist.eclipse.xquery.core.content-type">
         </contentTypeBinding>
      </editor> 
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.exist.eclipse.xquery.ui.internal.preferences.XQueryUIPreferenceInitializer">
      </initializer>
   </extension>
    <extension
       point="org.eclipse.ui.editors.templates">
       <contextType
          class="org.exist.eclipse.xquery.ui.internal.templates.XQueryUniversalTemplateContextType"
          id="xqueryUniversalTemplateContextType"
          name="xquery">
       </contextType> 
       <include
          file="templates/templates.xml">
       </include>         
    </extension>   
	<extension
	   point="org.eclipse.ui.preferencePages">
	   <page	          
	          class="org.exist.eclipse.xquery.ui.internal.preferences.XQueryGlobalPreferencesPage"
	          id="org.exist.eclipse.xquery.preferences"
	          name="XQuery"/>       
	    <page
	          category="org.exist.eclipse.xquery.preferences"
	          class="org.exist.eclipse.xquery.ui.internal.preferences.XQueryEditorPreferencesPage"
	          id="org.exist.eclipse.xquery.preferences.editor"
	          name="Editor"/>
        <page
              category="org.exist.eclipse.xquery.preferences.editor"
              class="org.exist.eclipse.xquery.ui.internal.preferences.XQueryCodeTemplatesPreferencePage"
              id="org.exist.eclipse.xquery.preferences.editor.Templates"
              name="Templates"/>	          
	    <page
	          category="org.exist.eclipse.xquery.preferences.editor"
	          class="org.exist.eclipse.xquery.ui.internal.preferences.XQueryEditorSyntaxColoringPreferencePage"
	          id="org.exist.eclipse.xquery.preferences.editor.SyntaxColoring"
	          name="Syntax Coloring"/>
	    <page
	      category="org.exist.eclipse.xquery.preferences.editor"
	      class="org.exist.eclipse.xquery.ui.internal.preferences.XQueryFoldingPreferencePage"
	      id="org.exist.eclipse.xquery.preferences.editor.PythonFolding"
	      name="Folding"/>	            	    
	 </extension>
   <extension
         point="org.eclipse.ui.newWizards">         
      <wizard
            canFinishEarly="false"
            category="org.exist.eclipse.xquery.ui.category"
            class="org.exist.eclipse.xquery.ui.internal.wizards.NewXQueryProjectWizard"
            icon="icons/existdb-icon.png"
            id="org.exist.eclipse.xquery.core.wizard.project"
            name="XQuery Project"
            project="true">
      </wizard>
      <wizard
            category="org.exist.eclipse.xquery.ui.category"
            class="org.exist.eclipse.xquery.ui.internal.wizards.NewXQueryFileWizard"
            icon="icons/existdb-icon.png"
            id="org.exist.eclipse.xquery.ui.internal.wizards.XQueryNewWizard"
            name="XQuery File">
      </wizard>
      <wizard
            category="org.exist.eclipse.xquery.ui.category"
            class="org.exist.eclipse.xquery.ui.internal.wizards.SelectContextWizard"
            icon="icons/existdb-icon.png"
            id="org.exist.eclipse.xquery.ui.internal.wizards.SelectContextWizard"
            name="Select XQuery Context">
      </wizard>      
      <category
            id="org.exist.eclipse.xquery.ui.category"
            name="XQuery">
      </category>
   </extension>
	<extension point="org.eclipse.dltk.core.completionEngine">
	   <completionEngine
	         class="org.exist.eclipse.xquery.ui.internal.completion.XQueryCompletionEngine"
	         nature="org.exist.eclipse.xquery.core.nature"
	         priority="0">
	   </completionEngine>
	</extension>
 <extension
       point="org.eclipse.dltk.core.selectionEngine">
    <selectionEngine
          class="org.exist.eclipse.xquery.ui.internal.selection.XQuerySelectionEngine"
          nature="org.exist.eclipse.xquery.core.nature"
          priority="0">
    </selectionEngine>
 </extension>   
	<extension point="org.eclipse.dltk.ui.scriptCompletionProposalComputer"
			id="XQueryTypeCompletionProposalComputer">
			<scriptCompletionProposalComputer
				class="org.exist.eclipse.xquery.ui.internal.completion.XQueryCompletionProposalComputer"
				categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
				toolkitId="org.exist.eclipse.xquery.core.nature">
				<partition type="__dftl_partition_content_type"/>
			</scriptCompletionProposalComputer>
	</extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.exist.eclipse.xquery.ui"
            name="XQuery">
      </category>
      <view
            category="org.exist.eclipse.xquery.ui"
            class="org.exist.eclipse.xquery.ui.internal.result.ResultView"
            icon="icons/existdb-icon.png"
            id="org.exist.eclipse.xquery.ui.internal.result.ResultView"
            name="XQuery Results">
      </view>
   </extension>	
   
  <extension
             point="org.eclipse.ui.commands">
        <category
              id="org.exist.eclipse.xquery.ui.commands.category.Default"
              name="eXist Eclipse XQuery UI Commands"/>
        <category
              id="org.exist.eclipse.xquery.ui.commands.category.Refactor"
              name="Refactor - XQuery">
        </category>
         <command
               categoryId="org.exist.eclipse.xquery.ui.commands.category.Default"
               id="org.exist.eclipse.xquery.ui.action.RunXQueryAction"
               name="Run XQuery"/>
         <command
               categoryId="org.exist.eclipse.xquery.ui.commands.category.Refactor"
               id="org.exist.eclipse.xquery.ui.action.refactoring.ToggleCommentAction"
               name="Toggle Comment"/>
         <command
               categoryId="org.exist.eclipse.xquery.ui.commands.category.Refactor"
               id="org.exist.eclipse.xquery.ui.action.refactoring.ExtractLocalVariableAction"
               name="Extract Local Variable"/>
         <command
               categoryId="org.exist.eclipse.xquery.ui.commands.category.Refactor"
               id="org.exist.eclipse.xquery.ui.action.refactoring.ExtractMethodAction"
               name="Extract Method"/>
         <command
               categoryId="org.exist.eclipse.xquery.ui.commands.category.Refactor"
               id="org.eclipse.dltk.ui.edit.text.script.search.references.in.workspace"
               name="SHIT"/>
  </extension>
   
     <extension
        point="org.eclipse.ui.bindings">
      <key
             commandId="org.exist.eclipse.xquery.ui.action.RunXQueryAction"
             contextId="org.exist.eclipse.xquery.ui.xqueryEditorScope"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+R"/>
      <key
            commandId="org.exist.eclipse.xquery.ui.action.refactoring.ToggleCommentAction"
            contextId="org.exist.eclipse.xquery.ui.xqueryEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/"/>
      <key
            commandId="org.exist.eclipse.xquery.ui.action.refactoring.ExtractLocalVariableAction"
            contextId="org.exist.eclipse.xquery.ui.xqueryEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+L"/>
      <key
            commandId="org.exist.eclipse.xquery.ui.action.refactoring.ExtractMethodAction"
            contextId="org.exist.eclipse.xquery.ui.xqueryEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+M"/>
      <key
            commandId="org.eclipse.dltk.ui.edit.text.script.search.references.in.workspace"
            contextId="org.exist.eclipse.xquery.ui.xqueryEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+G"/>
    </extension>
     <extension
           point="org.eclipse.ui.contexts">
        <context
              id="org.exist.eclipse.xquery.ui.xqueryEditorScope"
              name="Editing XQuery Source"
              parentId="org.eclipse.dltk.ui.scriptEditorScope">
        </context>
     </extension>
     <extension
           point="org.eclipse.dltk.core.search">
        <searchFactory
              class="org.exist.eclipse.xquery.ui.search.SearchFactory"
              nature="org.exist.eclipse.xquery.core.nature"
              priority="0">
        </searchFactory>
        <matchLocator
              class="org.exist.eclipse.xquery.ui.search.MatchLocator"
              nature="org.exist.eclipse.xquery.core.nature">
        </matchLocator>
     </extension>
     <extension
           point="org.eclipse.dltk.ui.completion">
        <proposalLabelProvider
              class="org.exist.eclipse.xquery.ui.internal.completion.XQueryCompletionProposalLabelProvider"
              nature="org.exist.eclipse.xquery.core.nature">
        </proposalLabelProvider>
     </extension>
</plugin>
